* {
	padding: 0;
	margin: 0;
}

#main-body {
	background-image: linear-gradient(to right, #cdffdf, #94b9ff);
	width: auto;
	height: 100vh;
	display: flex;
	align-items: center;
}
.circle {
	background-color: #2775f2;
	margin: auto;
	border-radius: 50%;
	width: 600px;
	height: 600px;
	box-shadow: 32px 25px 156px 5px #2775f2;
	display: flex;
	transition-duration: 1s;
	transform: perspective(5);
}
.calci {
	background-image: linear-gradient(to right , white ,#94b9ff );
	/*background-color: black;*/
	display: block;
	text-align: center;
	border-radius: 21px;
	padding: 15px 5px;
	position: absolute;
	bottom: 236px;
	left : 35vw;
	box-shadow:40px 45px 88px -9px black;
}
#screen {
	border: none;
	background-color: transparent;
	/*background: white;*/
	border-radius: 10px;
	font-size: 20px;
	height: 60px;
	margin: auto;
	text-align: end;
}
.btndesign {
	border: none;
	font-weight: bold;
	font-size: large;
	background-image: linear-gradient(to right, #cdffdf, #94b9ff);
	padding: 21px 26px;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 10px;
	box-shadow:3px 3px 8px 1px gray;
}

#equalbtn {
	padding-left: 50px;
	border: none;
	background-image: linear-gradient(to right, #cdffdf, #94b9ff);
	font-weight: bolder;
	margin-right: 1px;
	color: black;
	margin-right: 10px;
	padding: 21px 56px;
	margin-left: 10px;
	box-sizing: 90px;
	box-shadow:3px 3px 8px 1px gray;
	font-size: medium;
}
.btn-toolbar {
	border: none;
	background: white;
	border-radius: 10px;
	font-weight: bold;
	font-size: large;
	color:#2775f2;
	padding: 21px;
	margin-right: 7px;
	background-image: linear-gradient(to right, #cdffdf, #94b9ff);
	margin-left: 7px;
	box-shadow:3px 3px 8px 1px gray;

}
.orange {
	color:#2775f2;
}
